<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hello, <%= @pi_name %></h1>
    <br><br>

      <%= raw @survey_html %>
      <%= image_tag attachments['nbis.png'].url %>
  </body>
</html>
